@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.breadcrumb {  
    & button {
        font-size: 18px;
      }
    
      & button[aria-current="page"] > div {
        font-weight: 600;
        color: $ms-color-neutralPrimary;
      }
}
