################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LinqToSP/.vs/LinqToSP/v16/Server/sqlite3
/LinqToSP/LinqToSP/obj
/LinqToSP/LinqToSP.Test/obj
/LinqToSP/SP.Client/obj
/LinqToSP/.vs/LinqToSP/v16
/LinqToSP/LinqToSP/bin/Debug
/LinqToSP/LinqToSP.Test/bin/Debug
/LinqToSP/packages
/LinqToSP/SP.Client/bin/Debug/SP.Client.dll
/LinqToSP/SP.Client/bin/Debug
/LinqToSP/LinqToSP/bin
/LinqToSP/LinqToSP.Test/bin/Release
/LinqToSP/SP.Client/bin/Release
/LinqToSP/nuget
/LinqToSP/LinqToSP.2013/bin/Debug
/LinqToSP/LinqToSP.2013/obj/Debug
/LinqToSP/SP.Client.SP2013/bin/Debug
/LinqToSP/SP.Client.SP2013/obj/Debug
/LinqToSP/LinqToSP.2013/bin/Release
/LinqToSP/SP.Client.SP2013/bin/Release
/LinqToSP/SP.Client.SP2013/obj/Release
/LinqToSP/LinqToSP.2013/obj/Release
/LinqToSP/LinqToSP.2013/bin/NuGet
/LinqToSP/SP.Client.2013/bin
/LinqToSP/SP.Client.2013/obj
