################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LinqToSP/.vs/LinqToSP/v16/Server/sqlite3
/LinqToSP/LinqToSP/obj
/LinqToSP/LinqToSP.Test/obj
/LinqToSP/SP.Client/obj
