################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LinqToSP/.vs/LinqToSP/v16/Server/sqlite3
/LinqToSP/LinqToSP/obj
/LinqToSP/LinqToSP.Test/obj
/LinqToSP/SP.Client/obj
/LinqToSP/.vs/
/LinqToSP/LinqToSP/bin/Debug
/LinqToSP/LinqToSP.Test/bin/Debug
/LinqToSP/packages
/LinqToSP/SP.Client/bin
/LinqToSP/LinqToSP/bin
/LinqToSP/LinqToSP.Test/bin
/LinqToSP/nuget
/LinqToSP/LinqToSP.2013/bin
/LinqToSP/LinqToSP.2013/obj
/LinqToSP/SP.Client.2013/bin
/LinqToSP/SP.Client.2013/obj
/LinqToSP/LinqToSP.2016/bin
/LinqToSP/LinqToSP.2016/obj
/LinqToSP/SP.Client.2016/bin
/LinqToSP/SP.Client.2016/obj
/Samples/SP.ProjectTask/.vs/
/Samples/SP.ProjectTask/packages
/Samples/SP.ProjectTask/SP.ProjectTask/bin/Debug
/Samples/SP.ProjectTask/SP.ProjectTask/obj/Debug
/Samples/SP.ProjectTask/SP.ProjectTask/pkgobj/Debug
/Samples/SP.ProjectTask/SP.ProjectTask/readme.txt
/Samples/SP.ProjectTask/SP.ProjectTaskWeb/bin
/Samples/SP.ProjectTask/SP.ProjectTaskWeb/obj/Debug
/Samples/SP.ProjectTask/SP.ProjectTaskWeb/obj/Release
/Samples/SP.ProjectTask/SP.ProjectTask/obj/Release
/Samples/SP.ProjectTask/SP.ProjectTask/bin/Release
/Samples/SP.ProjectTask/SP.ProjectTask/pkgobj/Release
/Samples/SP.ProjectTask/SP.ProjectTask/pkg/Release
/LinqToSP/SP.Client.SP2013/bin/
/LinqToSP/SP.Client.SP2013/obj
/LinqToSP/LinqToSP.EF/bin
/LinqToSP/LinqToSP.EF/obj
/SPFx/sp-list-view-builder/config/private.json
