{
    "presets": [ "@babel/preset-env" /*, "@babel/preset-typescript"*/, "@babel/preset-react" ],
    "plugins": [ "syntax-async-functions","transform-regenerator", "@babel/plugin-proposal-class-properties" ]
}