<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="Microsoft.SharePointOnline.CSOM" version="16.1.19404.12000" targetFramework="net472" />
    <package id="Remotion.Linq" version="2.2.0" targetFramework="net472" />
    <package id="SP.Client.o365" version="1.0.0" targetFramework="net472" />
</packages>