<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.SharePoint2013.CSOM" version="15.0.5031.1001" targetFramework="net472" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net472" />
  <package id="SP.Client.2013" version="1.0.1" targetFramework="net472" />
</packages>