[role="main"] {
    padding-top: 0px;
    height: calc(100vh - 80px);
    /* Space for fixed navbar */
    .content {
        height: calc(100vh - 140px);
        position: relative;
    }
}

@media (min-width: 768px) {
    [role="main"] {
        height: 100vh;
        padding-top: 40px;
        .content {
            height: calc(100vh - 100px);
        }
    }
}

.ms-Panel-header {
    margin: 0 !important;
}

.ms-Panel-headerText {
    font-weight: 300;
    margin-top: 7px !important;
}

.ms-Breadcrumb-item {
    font-weight: 400 !important;
    color: darkgrey !important;
}

.ms-CommandBar {
    margin-top: 5px;
    height: 45px !important;
    padding: 0 !important;
    background-color: rgb(248, 249, 250);
    border-top: rgb(237, 235, 233) solid 1px;
    border-bottom: rgb(237, 235, 233) solid 1px;
    .ms-OverflowSet {
        height: 100%;
        button:not(:hover) {
            background-color: inherit;
        }
    }
}

.breadcrumbs {
    height: 45px;
}

.form-field {
    padding: 5px 5px;
    .form-field-label {
        color: darkgrey;
    }
}

.command-container {
    .form-field {
        padding: 0;
    }
    .ms-SearchBox {
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: inherit;
        border: 0;
    }
}

.time-picker {
    input {
        width: 2em;
        font-size: 16pt;
    }
}

.departments-container,
.tasks-container,
.projects-container,
.employees-container {
    position: relative;
    height: calc(100vh - 140px);
    .ms-ScrollablePane:first {
        position: absolute;
    }
}

.pivot {
    .departments-container,
    .tasks-container,
    .projects-container,
    .employees-container {
        position: relative;
        height: calc(100vh - 190px);
    }
}

@media (min-width: 768px) {
    .departments-container,
    .tasks-container,
    .projects-container,
    .employees-container {
        position: relative;
        height: calc(100vh - 100px);
    }
    .pivot {
        .departments-container,
        .tasks-container,
        .projects-container,
        .employees-container {
            position: relative;
            height: calc(100vh - 150px);
        }
    }
}

.ck.ck-button .ck-tooltip,
a.ck.ck-button .ck-tooltip {
    display: none !important;
}