/*
  Your use of the content in the files referenced here is subject to the terms of the license at https://aka.ms/fabric-assets-license
*/

@font-face {
    font-family: 'FabricIcons';
    src: url('../fonts/fabric-icons-0-467ee27f.woff') format('woff');
    src: url('../fonts/fabric-icons-1-4d521695.woff') format('woff');
    src: url('../fonts/fabric-icons-2-63c99abf.woff') format('woff');
    src: url('../fonts/fabric-icons-3-089e217a.woff') format('woff');
    src: url('../fonts/fabric-icons-4-a656cc0a.woff') format('woff');
    src: url('../fonts/fabric-icons-5-f95ba260.woff') format('woff');
    src: url('../fonts/fabric-icons-6-ef6fd590.woff') format('woff');
    src: url('../fonts/fabric-icons-7-2b97bb99.woff') format('woff');
    src: url('../fonts/fabric-icons-8-6fdf1528.woff') format('woff');
    src: url('../fonts/fabric-icons-9-c6162b42.woff') format('woff');
    src: url('../fonts/fabric-icons-10-c4ded8e4.woff') format('woff');
    src: url('../fonts/fabric-icons-11-2a8393d6.woff') format('woff');
    src: url('../fonts/fabric-icons-12-7e945a1e.woff') format('woff');
    src: url('../fonts/fabric-icons-13-c3989a02.woff') format('woff');
    src: url('../fonts/fabric-icons-14-5cf58db8.woff') format('woff');
    src: url('../fonts/fabric-icons-15-3807251b.woff') format('woff');
    src: url('../fonts/fabric-icons-16-9cf93f3b.woff') format('woff');
    src: url('../fonts/fabric-icons-17-0c4ed701.woff') format('woff');
    src: url('../fonts/fabric-icons-a13498cf.woff') format('woff');
}